@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";


/* path: static/src/input.css  (ajoute ceci) */
@tailwind utilities;

/* Déclaration de la police Eyesome Script (mets le fichier dans /static/fonts/) */
@font-face{
  font-family: "Eyesome Script";
  src: url("/static/fonts/EyesomeScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@layer base{
  .font-eyesome{ font-family: "Eyesome Script", cursive; }
}

/* Hauteur plein écran robuste mobile (dvh) */
@layer utilities{
  .h-hero{ height: 100svh; }     /* iOS/Android dyn viewport */
  @supports not (height: 100svh){
    .h-hero{ height: 100vh; }    /* fallback */
  }
}